body {
    background-color: #F4F5F7;
}
html,body {
    margin: 0;
    box-sizing: border-box;
}

.t-bd {
    border: 1px dashed red;
}

.fm-head {
    height: 23vh;
    background-image: url('assets/ic_demo01.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.fm-panel {
    position: relative;
    top: -3vh;
    width: 90%;
    left: 5%;
    border-radius: 2vw;
    background-color: #fff;
    box-shadow: #e3e3e3 0 4px 8px 5px;
    /**/
    box-sizing: border-box;
}

.fm-panel-tab {
    display: flex;
    flex-direction: row;
    font-size: 2.5vw;
    height: 12vw;
    line-height: 12vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    background-color: #EDF2F7;
}
.fm-panel-tab div {
    flex: 1;
    text-align: center;
}

.tab-1 {
    border-top-left-radius: 2vw;
}
.tab-3 {
    border-top-right-radius: 2vw;
}

.focus-tab{
    font-size: 3.5vw;
    color: #5D95E2;
    font-weight: 600;
    background-color: #fff;
}
.focus-tab::after {
    content: '';
    width: 10vw;
    border-top: 1vw solid #5D95E2 ;
}


.fm-travel-type {
    margin-top: 2vh;
    /*height: 6vh;*/
    padding: 0 10px;

}

.fm-travel-type-wrap{
    background-color: #F1F2F6;
    font-size: 13px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}

.fm-travel-type-unit {
    flex: 1;
    text-align: center;
    color: #4D4E51;
    height: 3.5vh;
    line-height: 3.5vh;
}

.focus-travel-type {
    background-color: #fff;
    border-radius: 4px;
    font-weight: 600;
}

.fm-city {
    margin-top: 2vh;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    font-size: 6vw;
    color: #343434;
}

.fm-city-1 {
    flex: 1;

}
.fm-city-ic {
    flex: 0 0 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fm-city-ic img {
    width: 70%;
}
.fm-city-2 {
    flex: 1;
    text-align: right;
}

.fm-date {
    margin-top: 2vh;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    font-size: 5.4vw;
    color: #343434;
}

.fm-date-1 {
    flex: 1;
}

.fm-date-1 span {
    margin-left: 6px;
    font-weight: 400;
    font-size: 3vw;
    color: #737373;
    line-height: 25px;
}
.fm-date-mid {
    flex: 0 0 50px;
    text-align: center;
    font-weight: 350;
    font-size: 3vw;
    color: #acacac;
    line-height: 25px;
}

.fm-date-2 {
    flex: 1;
    text-align: right;
}

.fm-date-2 span {
    font-weight: 400;
    font-size: 3vw;
    color: #737373;
    line-height: 25px;
    margin-left: 6px;
}

.fm-sepline {
    margin-top: 2vh;
    padding: 0 10px;
}
.fm-sepline div {
    border-top: 2px solid #EFEEF3;
}

.fm-config {
    margin-top: 2vh;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

.fm-config-1 {
    flex: 0 0 50%;
    border-radius: 6px;
    background-color: #F1F2F6;
    font-size: 12px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.fm-config-cabin {
    flex: 1;
    text-align: center;
    height: 3.5vh;
    line-height: 3.5vh;
    color: #737477;
}
.focus-cabin {
    background-color: #fff;
    border-radius: 4px;
    color: #3D3D3B;
    font-weight: 500;
}


.fm-config-2 {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
}

.fm-config-acc1 {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.fm-config-acc1 div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fm-config-acc1 div:nth-child(1){
    text-align: right;
}
.fm-config-acc1 div:nth-child(2){
    text-align: left;
    font-size: 8px;
    font-weight: 300;
    color: #aeaeae;
}

.fm-config-acc1 div:nth-child(2) div:nth-child(1){
    text-align: left;
    font-weight:400;
    color: #1d1d1d;
}

.fix-acc1 {
    flex: 0 0 30% !important;
}


.fm-config-acc2 {
    flex: 1;
    text-align: center;
}

.fm-config-tail {
    margin-top: 2vh;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

.fix-tail-1 {
    flex: 0 0 25%;
}
.fix-tail-2{
    flex: 0 0 20%!important;
}

.config-tail-tips {
    flex: 0 0 20%;
    font-size: 10px;
    padding: 2px 0;
    box-sizing: border-box;
}
.config-tail-tips span {
    background-color: orange;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 9px;
}
