.scene {
  margin-bottom: 1rem;
}

.scene_tips {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  color: darkgoldenrod;
}

.scup {
  position: relative;
  width: 200px;
  height: 100px;
  border: 1px solid grey;
  .btn_sc {
    position: relative;
    left: 150px;
  }
}